In [1]:
import pandas as pd
import numpy as np

<H1>1 Online Retail</H1>
https://www.kaggle.com/datasets/abhishekrp1517/online-retail-transactions-dataset

In [2]:
raw='raw_data/'
datadir='data/'
file='Online Retail.csv'
d=pd.read_csv(raw+file)
d

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [3]:
d.InvoiceNo = 'N' + d.InvoiceNo.astype(str).values
d.CustomerID = 'C' + d.CustomerID.astype(str).values
dt=pd.to_datetime(d.InvoiceDate)
d['date']=pd.to_datetime(dt.dt.date)
d['time']=dt.dt.time
d.drop('InvoiceDate', axis=1, inplace=True)
d

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,date,time
0,N536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,C17850,United Kingdom,2010-12-01,08:26:00
1,N536365,71053,WHITE METAL LANTERN,6,3.39,C17850,United Kingdom,2010-12-01,08:26:00
2,N536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,C17850,United Kingdom,2010-12-01,08:26:00
3,N536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,C17850,United Kingdom,2010-12-01,08:26:00
4,N536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,C17850,United Kingdom,2010-12-01,08:26:00
...,...,...,...,...,...,...,...,...,...
541904,N581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,C12680,France,2011-12-09,12:50:00
541905,N581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,C12680,France,2011-12-09,12:50:00
541906,N581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,C12680,France,2011-12-09,12:50:00
541907,N581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,C12680,France,2011-12-09,12:50:00
541908,N581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,C12680,France,2011-12-09,12:50:00

In [7]:
d[d.Quantity<0]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,date,time
141,NC536379,D,Discount,-1,27.50,C14527,United Kingdom,2010-12-01,09:41:00
154,NC536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,C15311,United Kingdom,2010-12-01,09:49:00
235,NC536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,C17548,United Kingdom,2010-12-01,10:24:00
236,NC536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,C17548,United Kingdom,2010-12-01,10:24:00
237,NC536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,C17548,United Kingdom,2010-12-01,10:24:00
...,...,...,...,...,...,...,...,...,...
540449,NC581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,0.83,C14397,United Kingdom,2011-12-09,09:57:00
541541,NC581499,M,Manual,-1,224.69,C15498,United Kingdom,2011-12-09,10:28:00
541715,NC581568,21258,VICTORIAN SEWING BOX LARGE,-5,10.95,C15311,United Kingdom,2011-12-09,11:57:00
541716,NC581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,1.25,C17315,United Kingdom,2011-12-09,11:58:00
541717,NC581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,1.25,C17315,United Kingdom,2011-12-09,11:58:00

In [10]:
d[d.UnitPrice<0]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,date,time
299983,NA563186,B,Adjust bad debt,1,-11062.06,C15287,United Kingdom,2011-08-12,14:51:00
299984,NA563187,B,Adjust bad debt,1,-11062.06,C15287,United Kingdom,2011-08-12,14:52:00

In [12]:
d.drop(d[d.UnitPrice<0].index, inplace=True)
d.Quantity=np.abs(d.Quantity)
d.sort_values(by='date', ignore_index=True, inplace=True)

In [13]:
d.to_csv(datadir+'OnlineRetail.csv', index=False)

<H1>2 Retail_Transactions_Dataset</H1>
https://www.kaggle.com/datasets/prasad22/retail-transactions-dataset

In [2]:
raw='raw_data/'
datadir='data/'
file='Retail_Transactions_Dataset.csv'
d=pd.read_csv(raw+file)
d

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN
1,1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2024-03-21 15:37:04,Lisa Graves,['Spinach'],6,41.49,Credit Card,Houston,Department Store,True,Professional,Winter,NaN
3,1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN
4,1000000004,2020-12-10 00:59:59,Susan Mitchell,['Dish Soap'],10,16.42,Debit Card,Houston,Specialty Store,False,Young Adult,Winter,Discount on Selected Items
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1000999995,2023-03-27 06:12:10,Lisa Gonzalez,"['Pickles', 'Carrots', 'Peanut Butter', 'Spong...",1,22.07,Debit Card,Los Angeles,Supermarket,False,Middle-Aged,Winter,NaN
999996,1000999996,2022-05-19 05:13:58,Emily Graham,['Cereal'],8,80.25,Cash,Houston,Warehouse Club,True,Senior Citizen,Spring,Discount on Selected Items
999997,1000999997,2021-09-03 13:59:39,Cynthia Anderson,['Trash Bags'],3,60.74,Credit Card,Los Angeles,Convenience Store,False,Homemaker,Winter,NaN
999998,1000999998,2023-10-17 05:50:40,Michael Rodriguez,"['Diapers', 'Coffee', 'Coffee', 'Mop']",3,23.48,Debit Card,San Francisco,Supermarket,True,Retiree,Winter,BOGO (Buy One Get One)
999999,1000999999,2020-06-15 11:58:49,Jennifer Davis,"['Trash Cans', 'Mop', 'Jam']",8,44.12,Credit Card,Atlanta,Pharmacy,False,Professional,Fall,Discount on Selected Items

In [3]:
for c in d.columns:
    if '_' in c:
        d.rename(columns={c:c.replace('_', '')}, inplace=True)
for c in ['TransactionID']:
    d[c]='N'+d[c].astype(str).values
dt=pd.to_datetime(dtot.Date)
dtot['Date']=pd.to_datetime(dt.dt.date)
dtot['time']=dt.dt.time
d.columns

Index(['TransactionID', 'Date', 'CustomerName', 'Product', 'TotalItems',
       'TotalCost', 'PaymentMethod', 'City', 'StoreType', 'DiscountApplied',
       'CustomerCategory', 'Season', 'Promotion'],
      dtype='object')

In [4]:
d['Numprod'] = d['Product'].apply(lambda x: len(eval(x)))

In [5]:
d[d.Numprod>1]

,TransactionID,Date,CustomerName,Product,TotalItems,TotalCost,PaymentMethod,City,StoreType,DiscountApplied,CustomerCategory,Season,Promotion,Numprod
0,N1000000000,2022-01-21 06:27:29,Stacey Price,"['Ketchup', 'Shaving Cream', 'Light Bulbs']",3,71.65,Mobile Payment,Los Angeles,Warehouse Club,True,Homemaker,Winter,NaN,3
1,N1000000001,2023-03-01 13:01:21,Michelle Carlson,"['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...",2,25.93,Cash,San Francisco,Specialty Store,True,Professional,Fall,BOGO (Buy One Get One),5
3,N1000000003,2020-10-31 09:59:47,Mrs. Patricia May,"['Tissues', 'Mustard']",1,39.34,Mobile Payment,Chicago,Pharmacy,True,Homemaker,Spring,NaN,2
5,N1000000005,2021-10-07 12:37:26,Joshua Frazier,"['Toothpaste', 'Chicken']",3,72.24,Cash,Houston,Supermarket,True,Retiree,Spring,Discount on Selected Items,2
6,N1000000006,2023-01-08 10:40:03,Victoria Garrett,"['Honey', 'BBQ Sauce', 'Soda', 'Olive Oil', 'G...",4,5.28,Cash,Boston,Specialty Store,False,Student,Summer,Discount on Selected Items,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,N1000999993,2022-01-02 19:40:32,Donna Hamilton,"['Laundry Detergent', 'Feminine Hygiene Produc...",6,65.29,Debit Card,Dallas,Specialty Store,True,Student,Summer,BOGO (Buy One Get One),2
999994,N1000999994,2021-03-13 14:12:17,James Villegas,"['Toothbrush', 'Hair Gel', 'Milk']",8,99.12,Cash,Los Angeles,Supermarket,False,Retiree,Summer,BOGO (Buy One Get One),3
999995,N1000999995,2023-03-27 06:12:10,Lisa Gonzalez,"['Pickles', 'Carrots', 'Peanut Butter', 'Spong...",1,22.07,Debit Card,Los Angeles,Supermarket,False,Middle-Aged,Winter,NaN,5
999998,N1000999998,2023-10-17 05:50:40,Michael Rodriguez,"['Diapers', 'Coffee', 'Coffee', 'Mop']",3,23.48,Debit Card,San Francisco,Supermarket,True,Retiree,Winter,BOGO (Buy One Get One),4
999999,N1000999999,2020-06-15 11:58:49,Jennifer Davis,"['Trash Cans', 'Mop', 'Jam']",8,44.12,Credit Card,Atlanta,Pharmacy,False,Professional,Fall,Discount on Selected Items,3

In [6]:
d['Product'] = d['Product'].apply(lambda x: np.random.choice(eval(x), 1)[0])

In [7]:
d.Promotion=d.Promotion.fillna('No_promo')
d.sort_values(by='Date', ignore_index=True, inplace=True)

In [8]:
d.to_csv(datadir+'RetailTrans.csv', index=False)

<H1>3 fraud_detection</H1>
https://www.kaggle.com/datasets/aryan208/financial-transactions-dataset-for-fraud-detection

In [2]:
raw='raw_data/'
datadir='data/'
#file='financial_fraud_detection_dataset.csv'

In [4]:
d=pd.read_csv(raw+file)
d

,transaction_id,timestamp,sender_account,receiver_account,amount,transaction_type,merchant_category,location,device_used,is_fraud,fraud_type,time_since_last_transaction,spending_deviation_score,velocity_score,geo_anomaly_score,payment_channel,ip_address,device_hash
0,T100000,2023-08-22T09:22:43.516168,ACC877572,ACC388389,343.78,withdrawal,utilities,Tokyo,mobile,False,NaN,NaN,-0.21,3,0.22,card,13.101.214.112,D8536477
1,T100001,2023-08-04T01:58:02.606711,ACC895667,ACC944962,419.65,withdrawal,online,Toronto,atm,False,NaN,NaN,-0.14,7,0.96,ACH,172.52.47.194,D2622631
2,T100002,2023-05-12T11:39:33.742963,ACC733052,ACC377370,2773.86,deposit,other,London,pos,False,NaN,NaN,-1.78,20,0.89,card,185.98.35.23,D4823498
3,T100003,2023-10-10T06:04:43.195112,ACC996865,ACC344098,1666.22,deposit,online,Sydney,pos,False,NaN,NaN,-0.60,6,0.37,wire_transfer,107.136.36.87,D9961380
4,T100004,2023-09-24T08:09:02.700162,ACC584714,ACC497887,24.43,transfer,utilities,Toronto,mobile,False,NaN,NaN,0.79,13,0.27,ACH,108.161.108.255,D7637601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,T5099995,2023-11-17T23:20:29.746144,ACC597319,ACC749300,10.87,withdrawal,retail,Toronto,atm,False,NaN,1416.524233,-0.14,17,0.18,UPI,243.92.38.163,D4439579
4999996,T5099996,2023-09-23T11:23:20.659686,ACC749625,ACC709783,181.40,payment,grocery,Sydney,atm,False,NaN,999.089702,-1.79,4,0.58,wire_transfer,28.252.18.249,D5029311
4999997,T5099997,2023-11-18T00:52:34.527092,ACC629492,ACC680736,12.54,payment,utilities,New York,mobile,False,NaN,3871.584025,-0.30,6,0.99,card,111.199.174.121,D6333607
4999998,T5099998,2023-03-25T04:32:13.609837,ACC984720,ACC296935,376.29,deposit,restaurant,Dubai,pos,False,NaN,-4096.765453,-1.43,5,0.32,wire_transfer,221.110.215.14,D1551203
4999999,T5099999,2023-09-02T04:34:34.583803,ACC120255,ACC440137,7.27,transfer,grocery,Sydney,atm,False,NaN,5257.349021,0.08,14,0.40,wire_transfer,246.68.126.184,D1505627

<H1>4 transactions_data</H1>
https://www.kaggle.com/datasets/computingvictor/transactions-fraud-datasets

In [2]:
raw='raw_data/transactions_data/'
datadir='data/'
files=['cards_data.csv','users_data.csv','transactions_data.csv']

In [3]:
d0=pd.read_csv(raw+files[0])
d0

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6142,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6143,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6144,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6145,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

In [4]:
d0.has_chip = np.where(d0.has_chip.values == 'YES', 1, 0)
d0.card_on_dark_web = np.where(d0.card_on_dark_web.values == 'No', 0, 1)
d0.credit_limit = d0.credit_limit.str.replace('$', '').astype(float)
d0.expires=pd.to_datetime(d0.expires, format='%M/%Y').dt.date
d0.acct_open_date=pd.to_datetime(d0.acct_open_date, format='%M/%Y').dt.date
d0.rename(columns={'id':'card_id'}, inplace=True)
d0

,card_id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,2022-01-01,623,1,2,24295.0,2002-01-01,2008,0
1,2731,825,Visa,Debit,4956965974959986,2020-01-01,393,1,2,21968.0,2014-01-01,2014,0
2,3701,825,Visa,Debit,4582313478255491,2024-01-01,719,1,2,46414.0,2003-01-01,2004,0
3,42,825,Visa,Credit,4879494103069057,2024-01-01,693,0,1,12400.0,2003-01-01,2012,0
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,2009-01-01,75,1,1,28.0,2008-01-01,2009,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,2024-01-01,663,1,1,6900.0,2000-01-01,2013,0
6142,2711,185,Visa,Credit,4718517475996018,2021-01-01,492,1,2,5700.0,2012-01-01,2012,0
6143,1305,1007,Mastercard,Credit,5929512204765914,2020-01-01,237,0,2,9200.0,2012-01-01,2012,0
6144,743,1110,Mastercard,Debit,5589768928167462,2020-01-01,630,1,1,28074.0,2020-01-01,2020,0
6145,3199,1110,Visa,Credit,4994011318343994,2020-01-01,120,1,1,14400.0,2017-01-01,2017,0

In [5]:
d1=pd.read_csv(raw+files[1])
d1

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,986,32,70,1987,7,Male,6577 Lexington Lane,40.65,-73.58,$23550,$48010,$87837,703,3
1996,1944,62,65,1957,11,Female,2 Elm Drive,38.95,-84.54,$24218,$49378,$104480,740,4
1997,185,47,67,1973,1,Female,276 Fifth Boulevard,40.66,-74.19,$15175,$30942,$71066,779,3
1998,1007,66,60,1954,2,Male,259 Valley Boulevard,40.24,-76.92,$25336,$54654,$27241,618,1
1999,1110,21,60,1998,11,Female,472 Ocean View Street,42.86,-71.48,$32325,$65909,$181261,673,2

In [6]:
for bucks in ['per_capita_income','yearly_income','total_debt']:
    d1[bucks] = d1[bucks].str.replace('$', '').astype(float)
d1.rename(columns={'id':'client_id'}, inplace=True)
d1

,client_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,29278.0,59696.0,127613.0,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,37891.0,77254.0,191349.0,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,22681.0,33483.0,196.0,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,163145.0,249925.0,202328.0,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,53797.0,109687.0,183855.0,675,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,986,32,70,1987,7,Male,6577 Lexington Lane,40.65,-73.58,23550.0,48010.0,87837.0,703,3
1996,1944,62,65,1957,11,Female,2 Elm Drive,38.95,-84.54,24218.0,49378.0,104480.0,740,4
1997,185,47,67,1973,1,Female,276 Fifth Boulevard,40.66,-74.19,15175.0,30942.0,71066.0,779,3
1998,1007,66,60,1954,2,Male,259 Valley Boulevard,40.24,-76.92,25336.0,54654.0,27241.0,618,1
1999,1110,21,60,1998,11,Female,472 Ocean View Street,42.86,-71.48,32325.0,65909.0,181261.0,673,2

In [7]:
d2=pd.read_csv(raw+files[2])
d2.drop(d2[d2.date<'2018-01-01'].index, inplace=True)
d2

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
10751157,20604847,2018-01-01 00:03:00,316,5857,$90.72,Chip Transaction,20561,Houston,TX,77048.0,5912,NaN
10751158,20604849,2018-01-01 00:05:00,1954,4879,$69.21,Chip Transaction,58192,La Habra,CA,90631.0,4900,NaN
10751159,20604850,2018-01-01 00:06:00,1684,2723,$27.19,Online Transaction,39021,ONLINE,NaN,NaN,4784,NaN
10751160,20604851,2018-01-01 00:07:00,335,353,$363.62,Chip Transaction,42636,Hallandale,FL,33009.0,7802,NaN
10751161,20604852,2018-01-01 00:08:00,1919,1215,$57.05,Chip Transaction,87819,Miami,FL,33142.0,5812,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,$1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,NaN
13305911,23761869,2019-10-31 23:56:00,1766,2066,$12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,NaN
13305912,23761870,2019-10-31 23:57:00,199,1031,$40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,NaN
13305913,23761873,2019-10-31 23:58:00,1986,5443,$4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,NaN
13305914,23761874,2019-10-31 23:59:00,489,5697,$12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,NaN

In [8]:
d2.amount = d2.amount.str.replace('$', '').astype(float)
d2.errors = d2.errors.fillna('Okay')
d2

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
10751157,20604847,2018-01-01 00:03:00,316,5857,90.72,Chip Transaction,20561,Houston,TX,77048.0,5912,Okay
10751158,20604849,2018-01-01 00:05:00,1954,4879,69.21,Chip Transaction,58192,La Habra,CA,90631.0,4900,Okay
10751159,20604850,2018-01-01 00:06:00,1684,2723,27.19,Online Transaction,39021,ONLINE,NaN,NaN,4784,Okay
10751160,20604851,2018-01-01 00:07:00,335,353,363.62,Chip Transaction,42636,Hallandale,FL,33009.0,7802,Okay
10751161,20604852,2018-01-01 00:08:00,1919,1215,57.05,Chip Transaction,87819,Miami,FL,33142.0,5812,Okay
...,...,...,...,...,...,...,...,...,...,...,...,...
13305910,23761868,2019-10-31 23:56:00,1718,2379,1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,Okay
13305911,23761869,2019-10-31 23:56:00,1766,2066,12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,Okay
13305912,23761870,2019-10-31 23:57:00,199,1031,40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,Okay
13305913,23761873,2019-10-31 23:58:00,1986,5443,4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,Okay
13305914,23761874,2019-10-31 23:59:00,489,5697,12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,Okay

In [9]:
dtot=pd.merge(d2, d1, on='client_id', how='left')
dtot=pd.merge(dtot, d0.drop('client_id', axis=1), on='card_id', how='left').drop('id', axis=1)

In [10]:
dtot

,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,2018-01-01 00:03:00,316,5857,90.72,Chip Transaction,20561,Houston,TX,77048.0,5912,...,Debit,5603296596869732,2021-01-01,386,1,1,14056.0,2006-01-01,2008,0
1,2018-01-01 00:05:00,1954,4879,69.21,Chip Transaction,58192,La Habra,CA,90631.0,4900,...,Credit,4802501874295829,2024-01-01,196,1,2,5900.0,2014-01-01,2014,0
2,2018-01-01 00:06:00,1684,2723,27.19,Online Transaction,39021,ONLINE,NaN,NaN,4784,...,Debit,5903499521440697,2024-01-01,779,1,1,16899.0,2014-01-01,2014,0
3,2018-01-01 00:07:00,335,353,363.62,Chip Transaction,42636,Hallandale,FL,33009.0,7802,...,Debit,5039380212110238,2020-01-01,830,1,1,34385.0,2016-01-01,2016,0
4,2018-01-01 00:08:00,1919,1215,57.05,Chip Transaction,87819,Miami,FL,33142.0,5812,...,Credit,5361975786587169,2024-01-01,39,1,1,17400.0,2010-01-01,2010,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554753,2019-10-31 23:56:00,1718,2379,1.11,Chip Transaction,86438,West Covina,CA,91792.0,5499,...,Debit,5766352389579834,2020-01-01,992,1,1,26743.0,2019-01-01,2019,0
2554754,2019-10-31 23:56:00,1766,2066,12.80,Online Transaction,39261,ONLINE,NaN,NaN,5815,...,Debit,5960254965868032,2024-01-01,91,1,1,5141.0,2004-01-01,2012,0
2554755,2019-10-31 23:57:00,199,1031,40.44,Swipe Transaction,2925,Allen,TX,75002.0,4900,...,Debit,5930100401040067,2021-01-01,908,1,1,17686.0,2004-01-01,2007,0
2554756,2019-10-31 23:58:00,1986,5443,4.00,Chip Transaction,46284,Daly City,CA,94014.0,5411,...,Debit,4696464603505748,2021-01-01,762,1,2,14036.0,2005-01-01,2010,0
2554757,2019-10-31 23:59:00,489,5697,12.88,Chip Transaction,24658,Greenbrier,TN,37073.0,5921,...,Debit (Prepaid),4550158721667391,2020-01-01,764,1,1,71.0,2013-01-01,2013,0

In [11]:
for c in dtot.columns:
    if '_' in c:
        dtot.rename(columns={c:c.replace('_', '')}, inplace=True)
for i in ['clientid', 'cardid','merchantid','zip', 'mcc','cardnumber','cvv']:
    dtot[i]='N' + dtot[i].astype(str).values

In [12]:
dt=pd.to_datetime(dtot.date)
dtot['date']=pd.to_datetime(dt.dt.date)
dtot['time']=dt.dt.time
dtot.sort_values(by='date', ignore_index=True, inplace=True)

,date,clientid,cardid,amount,usechip,merchantid,merchantcity,merchantstate,zip,mcc,...,cardnumber,expires,cvv,haschip,numcardsissued,creditlimit,acctopendate,yearpinlastchanged,cardondarkweb,time
0,2018-01-01,N316,N5857,90.72,Chip Transaction,N20561,Houston,TX,N77048.0,N5912,...,N5603296596869732,2021-01-01,N386,1,1,14056.0,2006-01-01,2008,0,00:03:00
1,2018-01-01,N1954,N4879,69.21,Chip Transaction,N58192,La Habra,CA,N90631.0,N4900,...,N4802501874295829,2024-01-01,N196,1,2,5900.0,2014-01-01,2014,0,00:05:00
2,2018-01-01,N1684,N2723,27.19,Online Transaction,N39021,ONLINE,NaN,Nnan,N4784,...,N5903499521440697,2024-01-01,N779,1,1,16899.0,2014-01-01,2014,0,00:06:00
3,2018-01-01,N335,N353,363.62,Chip Transaction,N42636,Hallandale,FL,N33009.0,N7802,...,N5039380212110238,2020-01-01,N830,1,1,34385.0,2016-01-01,2016,0,00:07:00
4,2018-01-01,N1919,N1215,57.05,Chip Transaction,N87819,Miami,FL,N33142.0,N5812,...,N5361975786587169,2024-01-01,N39,1,1,17400.0,2010-01-01,2010,0,00:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554753,2019-10-31,N1718,N2379,1.11,Chip Transaction,N86438,West Covina,CA,N91792.0,N5499,...,N5766352389579834,2020-01-01,N992,1,1,26743.0,2019-01-01,2019,0,23:56:00
2554754,2019-10-31,N1766,N2066,12.80,Online Transaction,N39261,ONLINE,NaN,Nnan,N5815,...,N5960254965868032,2024-01-01,N91,1,1,5141.0,2004-01-01,2012,0,23:56:00
2554755,2019-10-31,N199,N1031,40.44,Swipe Transaction,N2925,Allen,TX,N75002.0,N4900,...,N5930100401040067,2021-01-01,N908,1,1,17686.0,2004-01-01,2007,0,23:57:00
2554756,2019-10-31,N1986,N5443,4.00,Chip Transaction,N46284,Daly City,CA,N94014.0,N5411,...,N4696464603505748,2021-01-01,N762,1,2,14036.0,2005-01-01,2010,0,23:58:00
2554757,2019-10-31,N489,N5697,12.88,Chip Transaction,N24658,Greenbrier,TN,N37073.0,N5921,...,N4550158721667391,2020-01-01,N764,1,1,71.0,2013-01-01,2013,0,23:59:00

In [13]:
dtot.to_csv(datadir+'UStrans_short.csv', index=False)

<H1>5 Financial Transactions Dataset for Fraud Detection  </H1>
https://www.kaggle.com/datasets/aryan208/financial-transactions-dataset-for-fraud-detection