In [1]:
import pandas as pd
import numpy as np

In [2]:
datadir='data/'
name='UStrans_short.csv'
data=pd.read_csv(datadir+name,)
#data.timestamp=data.timestamp.apply(lambda x: x if '.' in x else x+'.00')

In [3]:
data.drop(data[data.date<'2019-05-01'].index, inplace=True)
data

,date,clientid,cardid,amount,usechip,merchantid,merchantcity,merchantstate,zip,mcc,...,cardnumber,expires,cvv,haschip,numcardsissued,creditlimit,acctopendate,yearpinlastchanged,cardondarkweb,time
1851875,2019-05-01,N1442,N2650,2.74,Chip Transaction,N36749,Gooding,ID,N83330.0,N5411,...,N5370998800503323,2021-01-01,N122,1,2,11986.0,2010-01-01,2015,0,00:04:00
1851876,2019-05-01,N1992,N1132,159.30,Online Transaction,N42967,ONLINE,NaN,Nnan,N4900,...,N4346364600707726,2021-01-01,N819,1,1,10374.0,2007-01-01,2007,0,00:04:00
1851877,2019-05-01,N992,N4511,77.35,Chip Transaction,N20519,Roanoke,VA,N24014.0,N5942,...,N5848472394865253,2020-01-01,N65,1,2,9000.0,2001-01-01,2010,0,00:05:00
1851878,2019-05-01,N287,N5783,17.37,Swipe Transaction,N14800,Hitchcock,TX,N77563.0,N5300,...,N5299823964392127,2023-01-01,N273,0,2,2159.0,2002-01-01,2006,0,00:07:00
1851879,2019-05-01,N335,N5131,266.63,Swipe Transaction,N31883,Atlantic City,NJ,N8401.0,N7995,...,N4414800408438414,2020-01-01,N833,1,1,23401.0,2008-01-01,2011,0,00:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554753,2019-10-31,N1718,N2379,1.11,Chip Transaction,N86438,West Covina,CA,N91792.0,N5499,...,N5766352389579834,2020-01-01,N992,1,1,26743.0,2019-01-01,2019,0,23:56:00
2554754,2019-10-31,N1766,N2066,12.80,Online Transaction,N39261,ONLINE,NaN,Nnan,N5815,...,N5960254965868032,2024-01-01,N91,1,1,5141.0,2004-01-01,2012,0,23:56:00
2554755,2019-10-31,N199,N1031,40.44,Swipe Transaction,N2925,Allen,TX,N75002.0,N4900,...,N5930100401040067,2021-01-01,N908,1,1,17686.0,2004-01-01,2007,0,23:57:00
2554756,2019-10-31,N1986,N5443,4.00,Chip Transaction,N46284,Daly City,CA,N94014.0,N5411,...,N4696464603505748,2021-01-01,N762,1,2,14036.0,2005-01-01,2010,0,23:58:00
2554757,2019-10-31,N489,N5697,12.88,Chip Transaction,N24658,Greenbrier,TN,N37073.0,N5921,...,N4550158721667391,2020-01-01,N764,1,1,71.0,2013-01-01,2013,0,23:59:00

In [4]:
from src.colinv import profile_dataframe
import json

results = profile_dataframe(data)
types=pd.json_normalize(results)
types

,column_index,column_name,inferred_type,semantic_sense,semantic_confidence,n_unique_if_categorical,numeric_subtype
0,0,date,categorical,phone,1.000,184.0,NaN
1,1,clientid,categorical,other,0.943,1206.0,NaN
2,2,cardid,categorical,other,0.985,3406.0,NaN
3,3,amount,numeric,amount,1.000,NaN,float
4,4,usechip,categorical,None,0.000,3.0,NaN
5,5,merchantid,categorical,other,1.000,22743.0,NaN
6,6,merchantcity,categorical,other,0.765,6255.0,NaN
7,7,merchantstate,categorical,other,0.010,98.0,NaN
8,8,zip,categorical,date,0.833,11918.0,NaN
9,9,mcc,categorical,other,1.000,109.0,NaN
10,10,errors,categorical,other,0.985,21.0,NaN
11,11,currentage,numeric,None,0.000,NaN,integer
12,12,retirementage,numeric,None,0.000,NaN,integer
13,13,birthyear,numeric,other,1.000,NaN,integer
14,14,birthmonth,numeric,None,0.000,NaN,integer
15,15,gender,categorical,other,1.000,2.0,NaN
16,16,address,categorical,date,0.463,1206.0,NaN
17,17,latitude,numeric,other,1.000,NaN,float
18,18,longitude,numeric,None,0.000,NaN,float
19,19,percapitaincome,numeric,date,0.990,NaN,integer
20,20,yearlyincome,numeric,date,0.995,NaN,integer
21,21,totaldebt,numeric,date,0.915,NaN,integer
22,22,creditscore,numeric,None,0.000,NaN,integer
23,23,numcreditcards,numeric,None,0.000,NaN,integer
24,24,cardbrand,categorical,other,1.000,4.0,NaN
25,25,cardtype,categorical,other,0.945,3.0,NaN
26,26,cardnumber,categorical,other,1.000,3406.0,NaN
27,27,expires,categorical,phone,1.000,6.0,NaN
28,28,cvv,categorical,other,0.885,969.0,NaN
29,29,haschip,boolean,haschip,1.000,2.0,NaN
30,30,numcardsissued,numeric,None,0.000,NaN,integer
31,31,creditlimit,numeric,date,0.930,NaN,integer
32,32,acctopendate,categorical,phone,1.000,29.0,NaN
33,33,yearpinlastchanged,numeric,other,1.000,NaN,integer
34,34,cardondarkweb,boolean,cardondarkweb,1.000,1.0,NaN
35,35,time,categorical,None,0.000,1440.0,NaN

In [5]:
data.columns

Index(['date', 'clientid', 'cardid', 'amount', 'usechip', 'merchantid',
       'merchantcity', 'merchantstate', 'zip', 'mcc', 'errors', 'currentage',
       'retirementage', 'birthyear', 'birthmonth', 'gender', 'address',
       'latitude', 'longitude', 'percapitaincome', 'yearlyincome', 'totaldebt',
       'creditscore', 'numcreditcards', 'cardbrand', 'cardtype', 'cardnumber',
       'expires', 'cvv', 'haschip', 'numcardsissued', 'creditlimit',
       'acctopendate', 'yearpinlastchanged', 'cardondarkweb', 'time'],
      dtype='object')

In [6]:
numcol=types[types.inferred_type=='numeric'].column_name.values
for c in numcol:
    l=len(data[data[c].isna()])
    if l>0:
        data[c]=data[c].fillna(value='-1.')
    print(c, l)

amount 0
currentage 0
retirementage 0
birthyear 0
birthmonth 0
latitude 0
longitude 0
percapitaincome 0
yearlyincome 0
totaldebt 0
creditscore 0
numcreditcards 0
numcardsissued 0
creditlimit 0
yearpinlastchanged 0

In [7]:
dt=dict(types.inferred_type.value_counts())
dt

{'categorical': 19, 'numeric': 15, 'boolean': 2}

In [8]:
onehot_cols = types[(types.inferred_type=='categorical')&(types.n_unique_if_categorical<=111)].column_name.values
onehot_cols = np.concatenate([onehot_cols, types[(types.inferred_type=='boolean')].column_name.values])
cat_feat_names = types[(types.inferred_type=='categorical')&(types.n_unique_if_categorical>=15)].column_name.values
num_feat_names = types[types.inferred_type=='numeric'].column_name.values
log1p_transform_cols = []
date_feature = 'date'
time_feature = ''
client_id = 'clientid'
mcc_name = 'mcc'

latent_dim = {'onehot': len(onehot_cols)+dt['boolean'], 'categorical': len(cat_feat_names), 'numerical': len(num_feat_names)}
latent_dim['cv']=sum(latent_dim.values())
latent_dim

{'onehot': 13, 'categorical': 14, 'numerical': 15, 'cv': 42}

In [40]:
from src.embedder import embeddings
X_emb, X_oh, cond_vector, synth_date, scaler_cat, scaler_onehot, scaler_num, cv_params, scaler, round_array = \
            embeddings(data, cat_feat_names, num_feat_names, onehot_cols, date_feature, time_feature, client_id, latent_dim, device='cpu', load=False, epochs=20)

Loss E_oh: 0.0168628953397274: 100%|██████████| 20/20 [13:22<00:00, 40.12s/it]
/home/antonij/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/rdt/transformers/categorical.py:132: FutureWarning: The behavior of value_counts with object-dtype is deprecated. In a future version, this will *not* perform dtype inference on the resulting index. To retain the old behavior, use `result.index = result.index.infer_objects()`
  freq = data.value_counts(normalize=True, dropna=False)
Loss E_cat: 4.42835653302609e-06: 100%|██████████| 20/20 [04:51<00:00, 14.57s/it]
Loss E_num: 7.064318197080866e-05: 100%|██████████| 20/20 [05:03<00:00, 15.15s/it]

Optimizing poisson intensity...

Loss E_cv: 0.000092986: 100%|██████████| 20/20 [05:27<00:00, 16.36s/it]

In [41]:
from src.embedder import train
dim_noise = 20
generator, supervisor, loss_array = train(X_emb, cond_vector, latent_dim, dim_noise, epochs=40, load=False)

Discriminator Loss: -0.05040 || Discriminator 2 Loss: -0.00022 || Generator Loss: 0.02625 || Supervisor Loss: -0.01204: 100%|██████████| 40/40 [14:32<00:00, 21.81s/it]

In [42]:
from src.generator import sample, inverse_transform
n_samples = len(X_emb[:])
synth_data, synth_date, params = sample(n_samples, generator, supervisor, dim_noise, cond_vector, X_emb, cv_params['encoder'], data,\
                                date_feature, client_id, cv_params=cv_params, device='cpu')

In [43]:
X_emb1 = scaler.inverse_transform(X_emb)
synth_data = scaler.inverse_transform(synth_data)

In [44]:
synth_data

array([[-0.79233253, -0.6612052 ,  0.96489555, ...,  0.79448515,
         0.9849089 , -0.83068645],
       [-0.8946538 , -0.33376932,  0.62802094, ...,  0.78804046,
         0.98223233, -0.844021  ],
       [-0.8897128 , -0.02655554,  0.8164402 , ...,  0.82706827,
         0.98526895, -0.82071495],
       ...,
       [-0.94161975,  0.45030618,  0.13979426, ..., -0.955851  ,
        -0.98716855,  0.7124642 ],
       [-0.9961293 ,  0.65555924,  0.4465115 , ..., -0.9451717 ,
        -0.9830564 ,  0.6531131 ],
       [-0.9761264 , -0.12312276,  0.86720145, ..., -0.9574827 ,
        -0.9857743 ,  0.71676075]], dtype=float32)

In [45]:
import sys
num_feat_names
data[num_feat_names].apply(lambda x: round(x, sys.float_info.dig - 1))

,amount,currentage,retirementage,birthyear,birthmonth,latitude,longitude,percapitaincome,yearlyincome,totaldebt,creditscore,numcreditcards,numcardsissued,creditlimit,yearpinlastchanged
1851875,2.74,41,58,1979,1,43.01,-114.70,14925.0,30432.0,101847.0,624,1,2,11986.0,2015
1851876,159.30,63,72,1956,7,36.61,-89.81,11636.0,23725.0,47647.0,710,5,1,10374.0,2007
1851877,77.35,46,70,1973,4,37.37,-77.50,26918.0,54881.0,3584.0,700,4,2,9000.0,2010
1851878,17.37,42,73,1977,8,29.31,-95.01,21178.0,43181.0,57199.0,710,3,2,2159.0,2006
1851879,266.63,46,68,1973,7,26.74,-80.12,27696.0,56467.0,66565.0,688,3,1,23401.0,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554753,1.11,81,67,1938,11,34.02,-117.89,22681.0,33483.0,196.0,698,5,1,26743.0,2019
2554754,12.80,62,66,1957,9,43.06,-87.96,9995.0,20377.0,12092.0,789,4,1,5141.0,2012
2554755,40.44,67,67,1952,4,33.10,-96.66,32580.0,78329.0,40161.0,720,3,1,17686.0,2007
2554756,4.00,44,69,1975,12,37.68,-122.43,23752.0,48430.0,62384.0,716,2,2,14036.0,2010
2554757,12.88,36,66,1983,8,40.87,-97.59,18024.0,36753.0,33657.0,684,4,1,71.0,2013

In [46]:
synth_df = inverse_transform(synth_data, latent_dim, X_oh.columns, scaler_onehot, scaler_cat, scaler_num, cat_feat_names,
                             mcc_name, num_feat_names, True, synth_date, time_feature, round_array)

In [20]:
synth_df

,use,merchant,mcc,errors,gender,card,expires,acct,has,date,...,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,num_cards_issued,credit_limit,year_pin_last_changed,date
0,chip_Chip Transaction,state_NJ,4829,Okay,Male,brand_Mastercard,2022-01-01,open_date_2014-01-01,chip_1,1571443200000000000,...,-73.63,39968,80457,138678,808,6,2,33663,2017,2019-10-03
1,chip_Chip Transaction,state_VA,1711,Okay,Male,brand_Mastercard,2021-01-01,open_date_2006-01-01,chip_1,1562803200000000000,...,-91.91,19006,37015,34422,699,3,1,11002,2011,2019-05-09
2,chip_Online Transaction,state_AK,4784,Okay,Female,brand_Mastercard,2021-01-01,open_date_2018-01-01,chip_1,1570924800000000000,...,-74.09,35491,71291,122464,794,6,2,29682,2016,2019-09-23
3,chip_Online Transaction,state_AK,4121,Okay,Male,brand_Mastercard,2024-01-01,open_date_2011-01-01,chip_1,1566518400000000000,...,-82.92,24197,46977,65761,735,4,2,16951,2013,2019-07-02
4,chip_Chip Transaction,state_FL,5812,Okay,Female,brand_Mastercard,2022-01-01,open_date_2010-01-01,chip_1,1561248000000000000,...,-96.49,17563,34206,21241,687,3,1,8930,2010,2019-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702878,chip_Swipe Transaction,state_CA,1711,Okay,Female,brand_Visa,2019-01-01,open_date_2010-01-01,chip_1,1566086400000000000,...,-83.68,23259,45113,61951,730,4,2,16052,2012,2019-06-24
702879,chip_Chip Transaction,state_MO,5541,Okay,Female,brand_Mastercard,2024-01-01,open_date_2007-01-01,chip_1,1569542400000000000,...,-77.23,30384,60434,99642,771,5,2,24024,2015,2019-08-27
702880,chip_Chip Transaction,state_AL,5499,Okay,Female,brand_Mastercard,2022-01-01,open_date_2009-01-01,chip_1,1560384000000000000,...,-99.66,17053,32756,15375,683,3,1,7989,2010,2019-05-03
702881,chip_Chip Transaction,state_NY,5499,Okay,Female,brand_Mastercard,2021-01-01,open_date_2015-01-01,chip_1,1568246400000000000,...,-80.44,26865,53009,82585,752,5,2,20195,2014,2019-08-03
702882,chip_Chip Transaction,state_ME,5411,Okay,Male,brand_Mastercard,2020-01-01,open_date_2008-01-01,chip_1,1565568000000000000,...,-84.24,22400,43227,58318,727,4,2,15120,2012,2019-06-15

In [22]:
synth_df.columns

Index(['use', 'merchant', 'mcc', 'errors', 'gender', 'card', 'expires', 'acct',
       'has', 'date', 'client_id', 'card_id', 'merchant_id', 'merchant_city',
       'merchant_state', 'zip', 'mcc', 'errors', 'address', 'card_number',
       'cvv', 'acct_open_date', 'amount', 'current_age', 'retirement_age',
       'birth_year', 'birth_month', 'latitude', 'longitude',
       'per_capita_income', 'yearly_income', 'total_debt', 'credit_score',
       'num_credit_cards', 'num_cards_issued', 'credit_limit',
       'year_pin_last_changed', 'date'],
      dtype='object')